################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NewsDaily
/bin/Debug/netcoreapp2.1
/NewsDaily.Core/bin/Debug/netcoreapp2.1
/NewsDaily.Core/obj
/obj
